@import "../core/reset";
@import "../core/variable";
@import "../core/mixin";
@import "../core/base";

.banner {
  // max-width: 100%;

  .banner__header {
    width: 100%;
    padding: 30px 0;
    .headbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .headbar__middle {
        display: flex;
        align-items: center;
        gap: 40px;
        .headbar__middle_choice {
          @include txt(16px, 500, 24px, #353945);
          font-family: $font-family;
          position: relative;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: transparent;
          transition: background-color 0.3s ease;
        }

        &:hover::after {
          background-color: #5827e4;
        }
      }
      .headbar__right {
        display: flex;
        align-items: center;
        gap: 15px;
        .headbar__right-icons {
          display: flex;
          align-items: center;
          gap: 12px;
          .headbar__right-currency {
            @include txt(14px, 700, 21px, #777e90);
            font-family: $font-family;
          }
        }
        .headbar__right-ava {
          display: flex;
          gap: 15px;

          .headbar__right-line {
            width: 1px;
            height: auto;
            opacity: 0.5;
            background: var(--gray-4, #b1b5c3);
          }
          .head__right-avatar {
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 19px;
          }
        }
      }
    }
  }
  .banner__contents {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .banner__content-left {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 70px;

      .banner__content-left-wrapp {
        display: flex;
        flex-direction: column;
        gap: 48px;
        .banner__left-text {
          display: flex;
          flex-direction: column;
          gap: 30px;
          width: 502px;
          .banner__title {
            @include txt(64px, 800, normal, #353945);
            font-family: $font-family;
            text-align: left;

            span {
              color: #f5b318;
            }
            // .banner__oranment{
            //   position:absolute;
            //   top: 125px;
            //   left: 200px;
            // }
          }
          .banner__desc {
            @include txt(18px, 500, 28px, #777e90);
            font-family: $font-family;
            max-width: 455px;
            text-align: left;
          }
        }
        .banner__join {
          display: flex;
          width: 317px;
          padding: 8px 8px 8px 44px;
          align-items: center;
          justify-content: space-between;
          border-radius: 31px;
          background-color: #fff;
          box-shadow: -16px 22px 42px 0px rgba(0, 31, 77, 0.12);
          transition: all 0.5s linear;
          .banner__join:hover {
            width: 100%;
            border-radius: 31px;
            background-color: #5827e4;
            transform: scale(1.1);
          }
          .banner__join-text {
            @include txt(20px, 700, normal, #23262f);
            font-family: $font-family;
          }
          .banner__join-btn {
            display: flex;
            width: 52px;
            height: 52px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            background: #3b71fe;
          }
        }
      }
      .banner__reviews {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .banner__customers {
          @include txt(16px, 500, 24px, #777e90);
          font-family: $font-family;
        }
        .banner_review {
          display: flex;
          gap: 26px;
          .banner__review-left {
            display: flex;
            flex-direction: column;
            gap: 7px;
            .banner__excellent {
              @include txt(24px, 500, 36px, #141416);
              font-family: $font-family;
            }
          }
          .banner__review-right {
            margin-top: 8px;
            display: flex;
            gap: 14px;
            .banner__review-line {
              width: 1px;
              height: auto;
              flex-shrink: 0;
              background: #e6e8ec;
            }
            .banner__review-right-wrap {
              display: flex;
              flex-direction: column;
              .banner__point {
                @include txt(24px, 700, 36px, #3b71fe);
                font-family: $font-family;
              }
              .banner__review-right-text {
                @include txt(12px, 500, normal, #777e90);
                font-family: $font-family;
                span {
                  @include txt(12px, 700, normal, #777e90);
                  font-family: $font-family;
                }
              }
            }
          }
        }
      }
      .banner__oranment {
        position: absolute;
        top: 125px;
        right: 94px;
      }
    }
    .banner__content-right {
      // width: 100%;
      .banner__img {
        object-fit: cover;
      }
    }
  }
}
.partners {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  background-color: #f4f5f9;
  .partners__list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}
.tripplanning {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 70px;
  .tripplan {
    display: flex;
    flex-direction: column;
    gap: 50px;
    .tripplan__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      text-align: center;
      .tripplan__header-title {
        @include txt(40px, 700, 60px, #23262f);
        letter-spacing: -0.4px;
        font-family: $font-family;
      }
      .tripplan__header-text {
        @include txt(18px, 400, 32px, #353945);
        max-width: 461px;
        font-family: $font-family;
      }
    }
    .tripplan__cards {
      display: flex;
      gap: 30px;
      .tripplan__card1 {
        @include fcol(column, null, 28px, center);

        padding: 21px 36px;
        border-radius: 12px;
        background-color: #eef9f2;
        .tripplan__card1-explain {
          @include fcol(column, null, 16px, center);
          @include txt(17px, 500, 26px, #353945);
          width: 201px;
          font-family: $font-family;
          text-align: center;
        }
        .tripplan__card1-more {
          display: flex;
          align-items: center;
          gap: 3px;
          color: #353945;
        }
      }
      .tripplan__card2 {
        @include fcol(column, null, 28px, center);
        padding: 21px 31px;
        border-radius: 12px;
        background-color: #fff4ee;
        .tripplan__card2-explain {
          @include fcol(column, null, 16px, center);
          @include txt(17px, 500, 26px, #353945);
          width: 210px;
          font-family: $font-family;
          text-align: center;
        }
        .tripplan__card2-more {
          display: flex;
          align-items: center;
          gap: 3px;
          color: #353945;
        }
      }
      .tripplan__card3 {
        @include fcol(column, null, 28px, center);
        padding: 21px 50px;
        border-radius: 12px;
        background-color: #ebf1ff;
        .tripplan__card3-explain {
          @include fcol(column, null, 16px, center);
          @include txt(17px, 500, 26px, #353945);
          width: 172px;
          font-family: $font-family;
          text-align: center;
        }
        .tripplan__card3-more {
          display: flex;
          align-items: center;
          gap: 3px;
          color: #353945;
        }
      }
    }
  }
}
.bookstep {
  .bookstep__block {
    padding: 69px 0;
    display: flex;
    justify-content: space-between;
  }
  .bookstep__create {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 40px 68px 41px 69px;
    border-radius: 39px;
    background-color: #fee2b6;
    .tips {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      width: 363px;

      border-radius: 39px;
      background-color: #fff;
      .tips__wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 25px 38px;
        align-items: flex-start;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 30px 30px 0px 0px;
        background-color: #3b71fe;
        .tips__header {
          display: flex;
          flex-direction: column;
          gap: 9px;
          .tips__header-create {
            @include txt(18px, 700, 27px, #fff);
            font-family: $font-family;
          }
          .tips__set {
            @include txt(16px, 400, 24px, #f4f5f6);
            font-family: $font-family;
          }
        }
        .tips__join {
          margin: 18px 0;
          width: 250px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 8px 12px 8px 16px;
          border-radius: 10px;
          background-color: #fff;
          .tips__join-text {
            @include txt(14px, 700, 21px, #23262f);
            font-family: $font-family;
          }
        }
        .tips__details {
          display: flex;
          flex-direction: column;
          gap: 18px;
          .tip {
            display: flex;
            gap: 14px;
            .tip__choice {
              display: flex;
              flex-direction: column;
              gap: 6px;
              .tip__for {
                @include txt(16px, 700, 24px, #f4f5f9);
                font-family: $font-family;
              }
              .tip__desc {
                @include txt(14px, 400, 20px, #e6e8ec);
              }
            }
          }
        }
      }
      .tips__price {
        width: 233px;
        margin-bottom: 34px;
        h2 {
          @include txt(26px, 600, 36px, #353945);
          font-family: $font-family;
          text-align: center;
          span {
            font-size: 14px;
          }
        }
      }
    }
    .bookstep__bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;

      .bookstep__bottom-page {
        @include txt(16px, 400, 24px, #353945);
        font-family: $font-family;
        letter-spacing: 3px;
        span {
          @include txt(16px, 400, 24px, #777e90);
          font-family: $font-family;
        }
      }
    }
  }
  .bookstep__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    .bookstep__right-head {
      display: flex;
      width: 568px;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      .bookstep__right-headwrap {
        border-bottom: 1px dashed #777e90;
        .bookstep__right-steps {
          display: flex;
          // width: 538px;
          flex-direction: column;
          align-items: flex-start;
          gap: 30px;
          margin-bottom: 26px;
          .bookstep__right-text {
            display: flex;
            width: 538px;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            .bookstep__right-easy {
              @include txt(40px, 700, 60px, #23262f);
              font-family: $font-family;
              letter-spacing: -0.4px;
            }
            .bookstep__right-desc {
              @include txt(14px, 500, 20px, #353945);
              font-family: $font-family;
              text-align: left;
            }
          }
          .bookstep__right-menu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            .bookstep__right-choice {
              display: flex;
              align-items: center;
              gap: 20px;
              .bookstep__right-choice-for {
                @include txt(16px, 700, 24px, #353945);
                font-family: $font-family;
              }
            }
          }
        }
        .bookstep__right-advice {
          @include txt(16px, 400, 24px, #353945);
          font-family: $font-family;
        }
      }
    }
    .bookstep__right-bottom {
      display: flex;
      align-items: center;
      gap: 14px;
      .bookstep__right-ava {
        width: 70px;
        height: 70px;
        object-fit: cover;
      }
      .bookstep__right-bottom-intro {
        display: flex;
        flex-direction: column;
        .bookstep__right-bottom-name {
          @include txt(18px, 700, 27px, #353945);
          font-family: $font-family;
        }
        .bookstep__right-bottom-position {
          @include txt(18px, 400, 32px, #777e90);
        }
      }
    }
  }
}
.tripbooking {
  .tripbooking__block {
    padding: 71px 135px;
    display: flex;
    justify-content: space-between;
    gap: 112px;

    background-color: #eaf0ff;
  }
  .tripbooking__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    .tripbooking__left-text {
      display: flex;
      width: 527px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      .tripbooking__left-title {
        @include txt(40px, 700, 60px, #23262f);
        font-family: $font-family;
        letter-spacing: -0.4px;
      }
      .tripbooking__left-desc {
        @include txt(16px, 400, 24px, #353945);
        font-family: $font-family;
      }
    }
    .tripbooking__cards {
      display: flex;
      align-items: center;
      gap: 20px;
      .tripbooking__card {
        padding: 22px;
        margin: 0 auto;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        border-radius: 10px;
        border: 1.106px solid #f4f5f6;
        box-shadow: 0px 2.213px 8.851px 0px rgba(15, 15, 15, 0.08);
        .tripbooking__brand-logo {
          width: 22px;
          height: 22px;
        }
        .tripbooking__brand-title {
          @include txt(14px, 600, normal, #353945);
          font-family: $font-family;
        }
        .tripbooking__brand-text {
          @include txt(11px, 500, 16.596px, #777e90);
          text-align: left;
          max-width: 114px;
          font-family: $font-family;
        }
      }
    }
  }
  .tripbooking__right {
    display: flex;
    padding: 31px 24px 29px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 14px 40px -15px rgba(15, 15, 15, 0.08);
    .tripbooking__right-cards {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      .tripbooking__right-info {
        display: flex;
        align-items: center;
        gap: 17px;
        .tripbooking__right-linkselect {
          width: 40px;
          height: 40px;
        }
        .tripbooking__right-intro {
          .tripbooking__right-name {
            @include txt(20px, 700, normal, #353945);
            font-family: $font-family;
          }
          .tripbooking__right-select {
            @include txt(14px, 500, 20px, #777e90);
            font-family: $font-family;
          }
        }
      }
      .tripbooking__right-wrap {
        display: flex;
        width: 326px;
        padding: 20px;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        border-radius: 23px;
        background-color: #ececec;
        .tripbooking__right-card {
          width: 244px;
          height: 124px;
        }
      }
    }
  }
}
.works {
  .works__contents {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;

    .works__left {
      position: relative;
      .works__profile {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 230px;
        display: flex;
        padding: 30px 23px;
        flex-direction: column;
        gap: 10px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 12px 120px -10px rgba(0, 0, 0, 0.08);
        .profile__info {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 14px;
          .profile__info-ava {
            width: 80px;
            height: 80px;
            flex-shrink: 0;
            object-fit: cover;
          }
          .profile__info-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;
            .profile__title-name {
              @include txt(18px, 500, 28px, #23262f);
              font-family: $font-family;
            }
            .profile__title-job {
              @include txt(12px, 400, normal, #b1b5c3);
              font-family: $font-family;
              text-align: center;
            }
          }
        }
        .profile__info-socials {
          display: flex;
          gap: 4px;
          align-items: center;
        }
        .profile__message-btn {
          @include txt(12px, 700, normal, #ffffff);
          display: flex;
          width: 184px;
          padding: 10px 30px 9px 30px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 8px;
          background-color: #3b71fe;
        }
      }
      .works__card {
        position: absolute;
        top: 0;
        left: 169px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 11px;
        max-width: 350px;
        border-radius: 16px;
        background: #fff;
        box-shadow: 0px 40px 126px -10px rgba(0, 0, 0, 0.1);
        .card__content-title {
          display: flex;
          flex-direction: column;
          gap: 24px;
          .card__content-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .card__content-header-text {
              display: flex;
              gap: 15px;
              align-items: center;
              .card__content-header-logo {
                width: 48px;
                height: 48px;
                object-fit: cover;
              }
              .card__content-header-planner {
                @include txt(18px, 600, 28px, #353945);
                font-family: $font-family;
              }
            }
          }
          .card__content-mask {
            width: 290px;
            height: 267px;
            object-fit: cover;
          }
        }
        .card__content-bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .card__content-bottom-left {
            display: flex;
            align-items: center;
            gap: 14px;
            .card__content-bottom-ava {
              width: 80px;
            }
            .card__content-bottom-see {
              @include txt(12px, 500, normal, #777e90);
              font-family: $font-family;
            }
          }
          .card__content-bottom-button {
            display: flex;
            width: 94px;
            height: 48px;

            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background: #3b71fe;
            .card__content-bottom-btn {
              @include txt(12px, 500, normal, #ffffff);
              font-family: $font-family;
            }
          }
        }
      }
      .works__travellers {
        position: absolute;
        left: 430px;
        top: 132px;
        display: flex;
        padding: 22px 34px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 11px;
        border-radius: 14px;
        background: #fff;
        box-shadow: 0px 60px 120px 0px rgba(0, 0, 0, 0.1);
        .travellers__text {
          @include txt(16px, 500, 24px, #23262f);
          font-family: $font-family;
        }
        .Travellers__ava {
          width: 148px;
        }
      }
    }
    .works__right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      .works__instruct {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        .works__instruct-title {
          @include txt(40px, 700, 60px, #23262f);
          font-family: $font-family;
          letter-spacing: -0.4px;
        }
        .works__instruct-desc {
          max-width: 433px;
          @include txt(18px, 400, 32px, #353945);
          font-family: $font-family;
        }
      }
      .works__items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        .work__item1 {
          display: flex;
          align-items: flex-start;
          gap: 24px;
          .work__item1-wrap {
            display: flex;
            padding: 18px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 30px;
            background: #fff;
            box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.12);
            .work__item1-logo {
              width: 24px;
              height: 24px;
            }
          }
          .work__item1-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            .work__item1-title {
              @include txt(24px, 500, 36px, #353945);
              font-family: $font-family;
            }
            .work__item1-desc {
              @include txt(16px, 400, 24px, #777e90);
              font-family: $font-family;
              max-width: 297px;
            }
          }
        }
        .work__item2 {
          display: flex;
          align-items: flex-start;
          gap: 24px;
          .work__item2-wrap {
            display: flex;
            padding: 18px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 30px;
            background: #fff;
            box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.12);
            .work__item2-logo {
              width: 24px;
              height: 24px;
            }
          }
          .work__item2-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            .work__item2-title {
              @include txt(24px, 500, 36px, #353945);
              font-family: $font-family;
            }
            .work__item2-desc {
              @include txt(16px, 400, 24px, #777e90);
              font-family: $font-family;
              max-width: 221px;
            }
          }
        }
        .work__item3 {
          display: flex;
          align-items: flex-start;
          gap: 24px;
          .work__item3-wrap {
            display: flex;
            padding: 18px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 30px;
            background: #fff;
            box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.12);
            .work__item3-logo {
              width: 24px;
              height: 24px;
            }
          }
          .work__item3-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            .work__item3-title {
              @include txt(24px, 500, 36px, #353945);
              font-family: $font-family;
            }
            .work__item3-desc {
              @include txt(16px, 400, 24px, #777e90);
              font-family: $font-family;
              max-width: 247px;
            }
          }
        }
        .work__item4 {
          display: flex;
          align-items: flex-start;
          gap: 24px;
          .work__item4-wrap {
            display: flex;
            padding: 18px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 30px;
            background: #fff;
            box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.12);
            .work__item4-logo {
              width: 24px;
              height: 24px;
            }
          }
          .work__item4-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            .work__item4-title {
              @include txt(24px, 500, 36px, #353945);
              font-family: $font-family;
            }
            .work__item4-desc {
              @include txt(16px, 400, 24px, #777e90);
              font-family: $font-family;
              max-width: 214px;
            }
          }
        }
      }
    }
  }
}
.Services {
  display: flex;
  padding: 70px 0;
  align-items: center;
  flex-direction: column;

  background-color: #3b71fe;
  .services__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    .services__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .services__text-title {
        @include txt(40px, 700, 60px, #ffffff);
        font-family: $font-family;
        // text-align: center;
      }
      .services__text-desc {
        @include txt(18px, 400, 32px, #f4f5f6);
        font-family: $font-family;
      }
    }
    .services__cards {
      display: flex;

      align-items: flex-start;
      gap: 35px;
      .service__card {
        display: flex;
        padding: 25px 28px 15px 28px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background-color: #ffffff;
        .service__card-button {
          width: 44px;
          height: 44px;
          object-fit: cover;
        }
        .service__card-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2px;
          .service__card-text-num {
            @include txt(24px, 700, 36px, #353945);
            font-family: $font-family;
          }
          .service__card-text-desc {
            @include txt(16px, 400, 30px, #777e90);
            font-family: $font-family;
          }
        }
      }
    }
  }
}
.features {
  .features__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 74px;
    .features__contents-title {
      @include txt(40px, 700, 60px, #23262f);
      letter-spacing: -0, 4px;
      font-family: $font-family;
    }
    .features__contents-our {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 56px;
      .features__row {
        display: flex;
        gap: 317px;
        align-items: flex-start;
        .features__plan1 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          .features__plan1-top {
            display: flex;
            align-items: center;
            gap: 16px;
            .features__plan1-btn {
              width: 44px;
              height: 44px;
              object-fit: cover;
            }
            .features__plan1-title {
              @include txt(30px, 600, 45px, #23262f);
              font-family: $font-family;
            }
          }
          .features__plan1-bottom {
            @include txt(18px, 400, 32px, #353945);
            font-family: $font-family;
            max-width: 388px;
          }
        }
        .features__plan2 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          .features__plan2-top {
            display: flex;
            align-items: center;
            gap: 16px;
            .features__plan2-btn {
              width: 44px;
              height: 44px;
              object-fit: cover;
            }
            .features__plan2-title {
              @include txt(30px, 600, 45px, #23262f);
              font-family: $font-family;
            }
          }
          .features__plan2-bottom {
            @include txt(18px, 400, 32px, #353945);
            font-family: $font-family;
            max-width: 435px;
          }
        }
      }
      .features__row1 {
        display: flex;
        gap: 252px;
        align-items: flex-start;
        .features__plan3 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          .features__plan3-top {
            display: flex;
            align-items: center;
            gap: 16px;
            .features__plan3-btn {
              width: 44px;
              height: 44px;
              object-fit: cover;
            }
            .features__plan3-title {
              @include txt(30px, 600, 45px, #23262f);
              font-family: $font-family;
            }
          }
          .features__plan3-bottom {
            @include txt(18px, 400, 32px, #353945);
            font-family: $font-family;
            max-width: 453px;
          }
        }
        .features__plan4 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          .features__plan4-top {
            display: flex;
            align-items: center;
            gap: 16px;
            .features__plan4-btn {
              width: 44px;
              height: 44px;
              object-fit: cover;
            }
            .features__plan4-title {
              @include txt(30px, 600, 45px, #23262f);
              font-family: $font-family;
            }
          }
          .features__plan4-bottom {
            @include txt(18px, 400, 32px, #353945);
            font-family: $font-family;
            max-width: 457px;
          }
        }
      }
    }
  }
}
.planning {
  display: flex;
  padding: 100px 135px 0px 135px;
  justify-content: space-between;
  background-color: rgba(251, 246, 199, 0.8);
  .planning__left {
    display: flex;
    padding-top: 65px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    .planning__left-title {
      @include txt(40px, 700, 60px, #141416);
      font-family: $font-family;
      letter-spacing: -0.4px;
      max-width: 340px;
    }
    .planning__left-desc {
      @include txt(18px, 400, 32px, #353945);
      font-family: $font-family;
      max-width: 529px;
    }
    .planning__left-button {
      @include txt(14px, 700, 21px, #ffffff);
      padding: 9px 29px 8px 28px;
      border-radius: 6px;
      background: #3b71fe;
    }
  }
  .planning__right {
    position: relative;
    .planning__right-cards {
      display: flex;
      padding: 30px 36px;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      border-radius: 24px 24px 0px 0px;
      background: #fff;
      .planning__card {
        display: flex;
        padding: 10px 14px;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        border: 0.5px solid #d3d3d3;
        background: #fff;
        box-shadow: 0px 4px 10px 0px rgba(15, 15, 15, 0.12);
        .planning__card-left {
          display: flex;
          align-items: flex-start;
          gap: 10px;
          .planning__card-left-btn {
            width: 32px;
            height: 32px;
            object-fit: cover;
          }
          .planning__card-left-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
            .planning__card-text-title {
              @include txt(12px, 500, normal, #353945);
              font-family: $font-family;
            }
            .planning__card-left-text-info {
              display: flex;
              align-items: center;
              gap: 10px;
              .planning__card-left-info {
                display: flex;
                align-items: center;
                gap: 6px;
                .planning__card-left-info-ava {
                  width: 10px;
                  height: 10px;
                  object-fit: cover;
                }
                .planning__card-left-text-name {
                  @include txt(8px, 500, normal, #777e90);
                  font-family: $font-family;
                }
              }
              .planning__card-left-time {
                @include txt(6px, 500, 8px, #ff6370);
                font-family: $font-family;
                display: flex;
                padding: 2px 7px 2px 6px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 3px;
                background-color: #f4f5f9;
              }
            }
          }
        }
        .planning__card-right {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 54px;
          height: 20px;
          flex-shrink: 0;
          border-radius: 4px;
          background-color: #fee9dd;
          .planning__card-right-btn {
            @include txt(7px, 500, normal, #fa8f54);
            font-family: $font-family;
          }
        }
      }
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 68px 170px;
  gap: 40px;
  .footer__top {
    width: 100%;
    display: flex;
    padding-bottom: 71px;
    border-bottom: 1px #e6e8ec;
    align-items: flex-start;
    justify-content: space-between;
    .footer__contents-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      max-width: 268px;
      .footer__contents-left-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        .footer__contents-left-desc {
          @include txt(16px, 400, 24px, #353945);
          font-family: $font-family;
        }
        .footer__contents-left-input {
          display: flex;
          padding: 8px 8px 8px 26px;
          justify-content: space-between;
          border-radius: 24px;
          border: 2px solid #e6e8ec;
          .input__name {
            width: 100%;
            border: none;
            .input__name::placeholder {
              @include txt(16px, 500, 24px, #b1b5c3);
              font-family: $font-family;
            }
          }
          .footer__contents-left-arrowline {
            display: flex;
            width: 33px;
            height: 33px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 30px;
            background: #3b71fe;
          }
        }
      }
    }
    .footer__contents-services {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      .footer__services {
        @include txt(24px, 500, 36px, #353945);
        font-family: $font-family;
      }
      .footer__contents-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        .footer__contents-link {
          @include txt(16px, 400, 24px, #777e90);
          font-family: $font-family;
        }
      }
    }
  }
  .footer__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .footer__bottom-left {
      @include txt(14px, 400, 20px, #b1b5c3);
      font-family: $font-family;
    }
    .footer__bottom-right {
      display: flex;
      align-items: flex-start;
      gap: 14px;
    }
  }
}
